pipeline/7_0_PL_Activcity_Dependency.json
{
	"name": "7_0_Activcity_Dependency",
	"properties": {
		"description": "using variable and supply value which can make wait activity fail for 0 sec, and run it for >0 value",
		"activities": [
			{
				"name": "WaitA",
				"type": "Wait",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": {
						"value": "@variables('RunTimeInSec')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "WaitBOnSuccess",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "WaitA",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "WaitCOnSkip",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "WaitBOnSuccess",
						"dependencyConditions": [
							"Skipped"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "WaitD OnFail",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "WaitA",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			},
			{
				"name": "WaitE Completion",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "WaitA",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 1
				}
			}
		],
		"variables": {
			"RunTimeInSec": {
				"type": "Integer",
				"defaultValue": 0
			}
		},
		"annotations": []
	}
}